.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}

.frog {
  border: none;
  display: block;
  position: relative;
  background: url(/public/frog.png);
  background-size: cover;
  aspect-ratio: 1;
}

.frog:after {
  content: " ";
  display: block;
  height: 10px;
  position: absolute;
  right: 5px;
  width: 10px;
  top: 5px;
}

.frog.female:after {
  background-color: #85144b;
}

.frog.male:after {
  background-color: #0074d9;
}

@media (min-width: 900px) {
  .app {
    flex-direction: row;
  }
}
